@font-face {
    font-family: "Raleway-VariableFont_wght";
    src: url("../assets/Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 900 ;
}
*{
    font-family: "Raleway-VariableFont_wght";
    font-size:large;
}
.contenu{
    margin-left: 30px;
    margin-right: 30px;
}
.menu {
    display: flex;
    padding: 0%;
    margin: 0%;
    background-color:white;
}
.menu li {
    list-style-type: none;
}
.menu a {
    display: block;
    border: 35px;
    padding:25px;
    text-decoration: none;
    color: darkslategrey;
}
header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    flex-wrap: wrap;
}
.logo {
    border: 35px;
    padding: 15px;
}
.navigationmenu{
    display: flex;
    justify-content: space-around;
}
.menu a:hover {
    background-color: white;
    color: blue;
    border-top: solid 2px blue;
    padding-top: 23px;
}
.menu a.signin {
    color:blue;
    font-weight: 700;
}
.menu a.signin:hover {
    border-top: none;
}
i{
    border-radius: 25% 0% 0% 25%;
    border: solid 1px rgb(231, 234, 236);
    padding: 15px;
    background-color: rgb(231, 234, 236) ;
}
input {
    border: solid 1px rgb(231, 234, 236);
    padding: 13px;
}
button{
    border-radius: 0% 15% 15% 0%;
    border: solid 1px blue;
    padding: 13px;
    background-color: blue;
    font-weight: bold;
    color: white;
}
.fa-search{
    border: solid 1px blue;
    padding: 13px;
    background-color: blue;
    font-weight: bold;
    color: white;
    border-radius: 0% 15% 15% 0%;
}
h1{
    font-weight: 800;
    font-size: larger;
}
p {
    font-weight:500;
}
.icon {
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;
}
.p2 {
    font-weight: 700;
    padding: 15px;
}
.icon li{
    list-style-type: none;
    border: 2px solid lightgrey;
    margin: 10px;
    border-radius: 50px;
    font-weight: 700;
    padding-right: 20px;
    white-space: nowrap;
}
.icon li:hover{
    background-color: blue;
    color: white;
}
.filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}
.icon i {
    background-color: #DEEBFF;
    color: blue;
    border-radius: 55%;
    padding: 15px;
    margin-right: 10px;
}
.fa-info {
    background-color: white;
    color: blue;
    font-size: small;
    font-weight: 500;
    border: 2px solid lightgray;
    border-radius: 80%;
    margin: 10px;
}
.info {
    font-size: medium;
}
.fa-star {
    background-color: white;
    color: blue;
    border: none;
    padding: 2px;
    margin-top: 3px;
    margin-bottom: 0px;
}
.greystar {
    color: grey;
}
.firstblock .accomodation {
    border: solid 1px white;
    width: 250px;
    height: 200px;
    border-radius: 25px;
    background-color: white;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 2em darkgrey;
}
.firstblock .text {
    width: 100%;
    height: 40%;
}
.firstblock .hotel {
    width: 100%;
    height: 60%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}
.firstblock h1{
    margin: 15px;
    padding: 15px;
}
.firstblock h2{
    margin: 15px;
    padding: 15px;
}
.firstblock h3{
    padding: 0px;
    margin: 2px 0px 2px 2px;
}
.firstblock p {
    margin: 2px 0px 2px 2px;
    padding: 0px;
}
section {
    background-color: #F2F2F2;
    border: solid 2px #F2F2F2;
    border-radius: 15px;
}
.column1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.column2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.column3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.firstblock{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}
.secondblock{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-left: 20px;
}
.conteneur {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.secondblock .accomodation{
    border: solid 1px white;
    width: 350px;
    height: 150px;
    border-radius: 25px;
    background-color: white;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2em darkgrey;
}
.secondblock .hotel {
    width: 40%;
    height: 100%;
    border-radius: 25px 0px 0px 25px;
    object-fit: cover;
}
.secondblock h2{
    margin: 15px;
    padding: 15px;
}
.secondblock h3{
    padding: 0px;
    margin: 10px 20px 10px 20px;
}
.secondblock p{
    padding: 0px;
    margin: 10px 20px 10px 20px;
}
.fa-chart-line{
    background-color: #F2F2F2;
    border: none;
}
.fastar{
    margin-left: 20px;
}
.first {
    display: flex;
    justify-content: space-between;
}
.activities {
    background: white;
    border: white;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
}
.activities h1 {
    margin-bottom: 25px;
}
.mosaic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
.activity1 {
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 2em lightgrey;
    width: 300px;
    height: 450px;
}
.activity2 {
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 2em lightgrey;
    width: 300px;
    height: 250px;
}
.activity3 {
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 2em lightgrey;
    width: 300px;
    height: 150px;
}
.activity4 {
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 2em lightgrey;
    width: 300px;
    height: 450px;
}
.activity5 {
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 2em lightgrey;
    width: 300px;
    height: 200px;
}
.activity6 {
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 2em lightgrey;
    width: 300px;
    height: 200px;
}
.activities h3{
    margin: 15px
}
.image1 {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 85%;
    object-fit: cover;
}
.image2 {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.image3 {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.image4 {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 85%;
    object-fit: cover;
}
.image5 {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.image6 {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.bloc1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
.bloc2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
.help ul{
    list-style-type:none;
    display: flex;
    padding: 0%;
    justify-content: flex-start;
    flex-direction: column;
    align-content: space-between;
}
footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
    margin: 0%;
}
.help h2{
    display: flex;
    padding-top: 10px;
}
.help{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.help li{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}
body{
    margin: 0%;
    margin: auto;
    max-width: 1440px;
}
section a {
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 800px) {
    header{
        display: flex;
        flex-wrap: wrap;
    }
    .menu{
        flex-basis: 100%;
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
    .menu .signin{
        position: absolute;
        top: 10px;
        right: 4px;
    }
    .menu a:hover{
        border-bottom: solid 2px blue;
        border-top: none;
    }
    .navigationmenu{
        flex-basis: 100%;
    }
    button{
        display: none;
    }
    .icon li{
        font-size:medium;
        padding-right: 10px;
    }
    .icon i{
        margin-right: 5px;
    }
    .first{
        display: flex;
        flex-direction: column-reverse;
    }
    .firstblock{
        width: auto;
        display: flex;
        border: none;
        background-color: white;
        margin-right: 0%;
    }
    .conteneur{
        display: flex;
        justify-content: initial;
        flex-direction: column;
        padding: 0px 20px 20px 20px;
    }
    .secondblock{
        width: auto;
        display: flex;
        margin: 0%;
        border-radius: 0%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .firstblock .accomodation{
        width: auto;
        margin: 0px 0px 20px 0px;
    }
    .secondblock .accomodation{
        width: auto;
    }
    .contenu{
        margin: 0%;
        padding: 0%;
    }
    .activities{
        display: flex;
        margin: 20px;
    }
    .mosaic{
        display: flex;
        flex-direction: column;
        align-content: initial;
    }
    .activity1{
        width: auto;
        height: 200px;
        margin-bottom: 20px;
    }
    .image1{
        width: 100%;
        height: 70%;
    }
    .activity2{
        width: auto;
        height: 200px;
        margin-bottom: 20px;
    }
    .image2{
        width: 100%;
        height: 70%;
    }
    .activity3{
        width: auto;
        height: 200px;
        margin-bottom: 20px;
    }
    .image3{
        width: 100%;
        height: 70%;
    }
    .activity4{
        width: auto;
        height: 200px;
        margin-bottom: 20px;
    }
    .image4{
        width: 100%;
        height: 70%;
    }
    .activity5{
        width: auto;
        height: 200px;
        margin-bottom: 20px;
    }
    .image5{
        width: 100%;
        height: 70%;
    }
    .activity6{
        width: auto;
        height: 200px;
        margin-bottom: 20px;
    }
    .image6{
        width: 100%;
        height: 70%;
    }
    footer{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    nav{
        margin: 20px;
    }
    .search{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}
@media only screen and (min-width: 801px) and (max-width: 1300px){
    header{
        display: flex;
        flex-wrap: nowrap;
    }
    .menu{
        flex-basis: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .menu .signin{
        position: relative;
    }
    .first{
        display: flex;
        flex-wrap: wrap;
    }
    .firstblock{
        background-color: white;
        border: none;
        flex-basis: 100%;
        margin: 0%;
    }
    .firstblock .accomodation{
        margin: 30px;
    }
    article{
        justify-content: center;
    }
    .conteneur{
        display: flex;
        justify-content: center;
    }
    .secondblock{
        flex-basis: 100%;
    }
    .column3{
        display: flex;
        flex-direction: row;
    }
    .secondblock .accomodation{
        display: flex;
        width: auto;
        margin-bottom: 20px;
    }
    .activities{
        display: flex;
        margin: 20px;
    }
    .mosaic{
        display: flex;
        align-content: flex-start;
    }
    .activity1{
        margin-bottom: 30px;
    }
    .activity2{
        margin-bottom: 30px;
    }
    .activity3{
        margin-bottom: 30px;
    }
    .activity4{
        margin-bottom: 30px;
    }
    .activity5{
        margin-bottom: 30px;
    }
    .activity6{
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1299px){
    .bloc2{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        width: 100%;
    }
}
@media only screen and (min-width: 800px) {
    .fa-search{
        display: none !important;
    }
}